    @import 'mixins.scss';
    * {
        margin: 0;
        list-style: none;
        @include b-par;
    }
    
    .container {
        text-align: center;
        width: 100%;
        max-width: 940px;
        margin: 0 auto;
    }
    
    .first-bg {
        // position: absolute;
        // top: 0;
        // left: 0;
        // z-index: -1;
        // width: 100%;
        // height: 100vh;
        background-image: url(../images/mainbg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    header {
        text-align: center;
    }
    
    .header--info {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        & li {
            color: #fff;
            font-weight: 300;
            padding: 20px;
        }
    }
    
    .header--title {
        margin: 20px;
        @include w-title;
    }
    
    .about--title {
        margin: 40px;
        @include b-title;
        margin-top: -180px
    }
    
    .header--subtitle {
        @include w-par;
    }
    
    .header--form {
        margin: 30px;
        padding-bottom: 50vh;
    }
    
    .input {
        padding: 10px;
        color: $gray;
        font-style: italic;
        font-weight: 300i;
    }
    
    .header--input {
        width: 350px;
        border: 0;
        border-radius: 3px;
    }
    
     ::placeholder {
        padding: 5px;
        color: $gray;
        font-style: italic;
        font-weight: 300i;
        opacity: 1;
    }
    
     :focus::placeholder {
        opacity: 0;
        color: transparent;
        border: $go;
        transition: opacity .9s linear;
    }
    
    .button {
        text-transform: uppercase;
        background-color: $go;
        border: 0;
        border-radius: 3px;
        color: #fff;
        padding: 10px;
    }
    
    .header--button {
        width: 350px;
    }
    
    .about-illustration {
        display: grid;
        justify-content: center;
        grid-template-columns: 187px 166px 116px 146px 187px;
    }
    
    .arrow2 {
        align-self: end;
    }
    
    .about--image__border {
        border: 5px $go solid;
        border-radius: 50%;
    }