@import "variabls";
@import "mixin";


// font-family: 'Roboto Slab', serif;
// font-family: 'Roboto', sans-serif;
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
  
   
}
a { color: inherit; } 

.sideBarBG{
    background-color: rgba($color: #000000, $alpha: .8);
    padding: 20px 0;
    display: flex;
}
.logo{
    float: left;
    max-width: 100px;
    margin: 0;
}

.menu{
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    & div{
        text-align: center;
        cursor: pointer;
        margin: auto 2%;
    &:hover{
        color: $redc;
        }
    }
}
.menu-button{
    position: fixed;
    top: 20px;  
    right: 20px;
    display: none;
    z-index: 10;
}


header{
    width: auto;
    height: 100vh;
    background-image: url(../img/mainbg.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}

.background{
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;

    &--second{
        background-image: url(../img/secondbg.png);
        height: auto;
    }

    &--therd{
        background-image: url(../img/therdbg.png);
        height: auto;
    }

    &--women{
        background-image:url(../img/womenbg.png);
        height: auto;
    }

    &--men{
        background-image:url(../img/menbg.png);
        height: auto;
    }

    &--gray{
        background-color: #161616;
        height: auto;
    }

    &--footer{
        background-color: #050505;
        height: auto;
    }
}

.title{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-align: center;
    font-size: 38px;
    text-align: center;
    padding-bottom: 30px;

    &--firstScreen{
        font-size: 45px;
        margin-top: 20vh;
    }

    &--black{
        color: #000;
    }
}

.subtitle{
    text-align: center;
    padding: 0 0 20px 0 ;
    color: #fff;

    &--white{
    text-align: center;
    padding: 0 0 20px 0 ;
    color: #fff;
    padding: 20px 0;
    }
}


.container{
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding: 60px 0;

    &--first{
        width: 100%;
    max-width: 930px;
    margin: 0 auto;
    }
    
    &--footer{
        padding-top: 30px;
        padding-bottom: 15px;
    }

}

.button{
    background-color: $redc;
    padding: 20px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    border-radius: 3px;
    font-size: 20px;

    &-last{
        margin-top: 30px;
   }

    &--firstScreen{
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translate(-50%, 0)
       
    }

    &--fitch{
        text-align: center;
        background-color: rgba($color: $redc , $alpha: 0) ;
        border: 2px #fff solid;
        border-radius: 3px;
        padding: 15px;
        
        position: absolute;
    
    left: 50%;
    transform: translate(-50%, -50%);
        

        &:hover{
            background-color: rgba($color: $redc , $alpha: 1.0) ;
            border: 2px rgba($color: $redc , $alpha: 0) solid;

        }
    }

    &--footer{
        font-size: 15px;
        background-color: rgba($color: $redc , $alpha: 0) ;
        border: 2px #fff solid;
        border-radius: 3px;
        padding: 10px;

        &:hover{
            background-color: rgba($color: $redc , $alpha: 1.0) ;
            border: 2px rgba($color: $redc , $alpha: 0) solid;

        }
    }
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-items: space-around	;  
}

.item{
    flex-basis: 33%;
    flex-grow: 1;
    height: auto;
    border: 1px gray solid;
    background-color: rgba($color: #000000, $alpha: .8);
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.item-icon{
    margin: 10% auto 0  auto ;
    align-self: center;
    height: 67px;
    width: auto;

    img{
        height: 67px;
        width: auto; 
    }
    
}

.item-after{
    margin: 20px 0;
    width: 80px;
    height: 3px;
    background-color: #fff;
    align-self: center;
}

.boxs{
    display: flex;
    flex-wrap: wrap;
}
.box{
    display: flex;
    width: 45%;
    flex-grow: 1;
    align-items: center;
    color: white;
    margin-bottom: 30px;
    &:nth-child(odd){
        margin-right: 1vw;
    }
    &-number{
        opacity: .4;
        font-weight: 900;
        font-size: 60px;     
    }
    &-text{
        font-size: 30px;
        font-weight: 500;
    }
}

.footer{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-copyright{
        padding-top: 10px;
        text-align: center;
        color: #fff;
        font-weight: normal;
    }

    p, h3{
        font-size: 18px;
        padding-bottom: 10px;
    }
}


@media (max-width:1000px){
    .logo{  
        max-width: 60px;
        margin-left: 10px;
    }

    .menu{
        font-size: 5px;
        & div{
            margin: auto 10px;
        }
    }

    .footer{
        margin: 0 20px;
    }
}

@media screen and (max-width: 770px){
    .title--firstScreen{
        font-size: 70px;
        margin: 80px 0 0 0;
    }
    .sideBarBG{
        display: none;
        position: fixed;
        width: 100%;
    }
    .logo{
        display: none;
    }
    .menu{
        flex-direction: column;
        & div {
            margin:  10px 0;
        }
    }

    .menu-button{
        display: block;
    }

    .boxs{
        display: block;
        margin: 0 20px;
    }

    .box{
        width: 100%;
        margin: 20px auto;
        &:nth-child(odd){
            margin-right: 0;
        }
    }

    .items{
        margin: 0 20px;
        
    }

    .footer{
        margin: 0 20px;
        justify-items: center;
    }
}

@media screen and (max-width: 550px){
    .title--firstScreen{
        font-size: 60px;
        line-height: 1.1;
        margin: 50px 0 0 0;
    }

    .items{
        margin: 0 10px;
        flex-direction: column;
    }

    .button-last{
        margin-top: 50px;
        
    }

    .button--fitch{
        font-size: 18px;
    }

    .footer{
        
        
        &-contact{
            margin: 0 auto;
           
        }
        &-support{
            margin: 0 auto;
        }
    }

    .footer-logo{
        display: none;
    }
}

@media screen and (max-width: 380px){
    .title--firstScreen{
        font-size: 50px;
        line-height: 1.1;
        margin: 80px 0 0 0;
    }

    // .items{
    //     margin: 0 10px;
    //     flex-direction: column;
    // }

    // .button-last{
    //     margin-top: 50px;
        
    // }

    // .button--fitch{
    //     font-size: 18px;
    // }
}
@media screen and (orientation:portrait) and (max-height: 1400px){
    .title--firstScreen{
        font-size: 80px;
        line-height: 1.1;
        margin: 80px 0 0 0;
    }
}

@media screen and (orientation:landscape) and (max-height: 1200px){
    .title--firstScreen{
        font-size: 80px;
        line-height: 1.1;
        margin: 80px 0 0 0;
    }
}

@media screen and (orientation:landscape) and (max-height: 500px){
    .title--firstScreen{
        font-size: 40px;
        line-height: 1.1;
        margin: 40px 0 0 0;
    }
}

@media screen and (orientation:landscape) and (max-height: 380px){
    .title--firstScreen{
        font-size: 40px;
        line-height: 1.1;
        margin: 10px 0 0 0;
    }
}

